@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree";
}

.container{
    background-color: white;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 10px 10px;
}

.learn {
    display: inline-block;
    background-color:  hsl(47, 88%, 63%);
    border-radius: 4px;
}

/* .attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 4);
} */
@media (min-width: 350px) and (max-width: 550px) {
    h2 {
        font-size: 20px;
    }

    h4{
        font-size: 11px;
        color: black;
    }

    .container {
        display: flex;
        height: 445px;
        width: 320px; 
        padding: 20px 0 0 0;
    }
    
    .blog-img {
        width: 280px;
        border-radius: 15px;
    }
    
    .greg {
        display: flex;
        margin-top: 20px;
    }
    
    .greg p {
        text-indent: 15px;
        margin-top: 12px;
    }
    
    .container .left {
        padding: 24px;
        text-align: left;
    }

    h2, h3, h4, p {
        margin-bottom: 15px;
    }

    .learn{
        padding: 6px;
    }

    .hooper {
        width: 40px;
    }

    p {
        font-size: 12px;
    }
}

@media (min-width: 551px) {

    h4, p {
        font-size: clamp(10px, 18px, 30px);
    }
    
    .container {
        display: flex;
        height: 575px;
        width: 400px; 
    }
    
    .blog-img {
        margin-top: 25px;
        border-radius: 15px;
    }
    
    .greg {
        display: flex;
        margin-top: 30px;
    }
    
    .greg p {
        text-indent: 15px;
        margin-top: 15px;
    }
    
    .container .left {
        padding: 30px;
        text-align: left;
    }

    h2, h3, h4, p {
        margin-bottom: 20px;
    }

    .learn{
        padding: 8px;
    }

    .hooper {
        width: 50px;
    }

    p {
        font-size: 16px;
    }
}

